main
    background-color: #d4d3cd
    .catalog    
        width: 100%
        &_fon
            width: 100%
        &_title
            margin-top: -5px            
            padding-top: 60px
            font-family: DisketMono
            font-size: 40px
            font-weight: bold
            text-align: center
            color: #242324
    .karusel
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        padding-top: 23px
        
        &_item
            margin-top: 30px
            height: 500px
            display: flex
            flex-direction: column
            background-color: #fff
            &-btn
                width: 168px
                height: 51px
                margin: 25px 66px 0
                padding: 14px 21px
                background-color: #8d7641
    